<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>signup_session</filter-name>
        <filter-class>controller_p.signup_session</filter-class>
    </filter>
    <filter>
        <filter-name>login_session</filter-name>
        <filter-class>controller_p.login_session</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login_session</filter-name>
        <url-pattern>/login_servlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>signup_session</filter-name>
        <url-pattern>/signup_servlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>signup_servlet</servlet-name>
        <servlet-class>controller_p.signup_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class>controller_p.login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout_servlet</servlet-name>
        <servlet-class>controller_p.signout_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offer_ap_servlet</servlet-name>
        <servlet-class>controller_p.offer_ap_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>travel_ap_servlet</servlet-name>
        <servlet-class>controller_p.travel_ap_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_depart</servlet-name>
        <servlet-class>controller_p.delete_depart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotel_ap_servlet</servlet-name>
        <servlet-class>controller_p.hotel_ap_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_hotel</servlet-name>
        <servlet-class>controller_p.update_hotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search_servlet</servlet-name>
        <servlet-class>controller_p.search_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup_servlet</servlet-name>
        <url-pattern>/signup_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout_servlet</servlet-name>
        <url-pattern>/signout_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offer_ap_servlet</servlet-name>
        <url-pattern>/offer_ap_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>travel_ap_servlet</servlet-name>
        <url-pattern>/travel_ap_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_depart</servlet-name>
        <url-pattern>/delete_depart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotel_ap_servlet</servlet-name>
        <url-pattern>/hotel_ap_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_hotel</servlet-name>
        <url-pattern>/update_hotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_servlet</servlet-name>
        <url-pattern>/search_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
